.tickerWrapper {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 -1rem;
}

.ticker {
    width: max-content;
    animation-name: scroll;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    padding-right: 3em;
}

.ticker:nth-child(1) {
    transform: translateX(-100%);
}

.ticker:nth-child(2) {
    animation-delay: 60s;
    transform: translateX(-100%);
    position: absolute;
}

@keyframes scroll {
    from {transform: translateX(-100%)}
    to {transform: translateX(100%)}
}